services:
  dbt:
    build: .
    container_name: pycon25-dbt
    working_dir: /app
    volumes:
      - ./:/app
      - ./data:/data
    environment:
      DBT_PROFILES_DIR: /app/profiles
    command: ["sleep", "infinity"]
